<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  <title>QuickReads | Your Daily Article Dose</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <a href="#" class="logo">
        <img src="/static/img/logo_q.png" alt="QuickReads Logo">
      </a>
      <h1>QUICKREADS</h1>
      <nav>
        <ul>
          <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#"><i class="fa-solid fa-plus"></i> Follow</a></li>
          <li><a href="#"><i class="fa-regular fa-bell"></i></a></li>
          <!-- Dropdown Menu for User -->
          <li class="dropdown">
            <a href="#" class="dropbtn"><i class="fa-regular fa-user"></i></a>
            <div class="dropdown-content">
              <a href="#"><i class="fa-solid fa-user"></i>    Profile</a>
              <a href="#"><i class="fa-solid fa-bookmark"></i> Saved</a>
              <a href="#"><i class="fa-solid fa-chart-line"></i> Analytics</a>
              <a href="#"><i class="fa-solid fa-gear"></i> Settings</a>
              <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
            </div>
          </li>
        </ul>

      </nav>
    </div>
  </header>

  <section class="hero">
    <div class="container">
      <h1>Get Your Daily Dose of Articles</h1>
      <p>Stay informed and up-to-date with the latest news and stories from around the world. <br>
        QuickReads curates the best articles for you, saving your time and effort.</p>
    </div>
    <div class="foryou">
      <h1>FOR YOU <a href="#"><i class="fa-solid fa-sliders" style="color: #333;"></i></a></h1>
      <p>The best of everything you follow</p>
    </div>
  </section>

  
<!--support section starts-->
<section class="Topics"id="Topics">
  <h1 >Topics</h1>
  <div class="box-container">
    
      <div class="box">
          <img src="/static/img/health.png"alt="">
              <a href="/flood"class="btn">HEALTH</a>
      </div>

      <div class="box">
          <img src="/static/img/Tech.png"alt="">
          <a href="/drought"class="btn">TECHNOLOGY</a>
      </div>

      <div class="box">
        <img src="/static/img/Edu.png"alt="">
        <a href="/drought"class="btn">EDUCATION</a>
      </div>

      <div class="box">
        <img src="/static/img/Movies.png"alt="">
        <a href="/drought"class="btn">MOVIES</a>
      </div>
     
      <div class="box">
        <img src="/static/img/Politics.png"alt="">
        <a href="/drought"class="btn">POLITICS</a>
      </div>

      <div class="box">
        <img src="/static/img/Sports.png"alt="">
        <a href="/drought"class="btn">SPORTS</a>
      </div>

      <div class="box">
        <img src="/static/img/Weather.png"alt="">
        <a href="/drought"class="btn">WEATHER</a>
      </div>

      
      <div class="box">
        <img src="/static/img/Travel.png"alt="">
        <a href="/drought"class="btn">TRAVEL</a>
      </div>

      <div class="box">
        <img src="/static/img/Nature1.png"alt="">
        <a href="/drought"class="btn">NATURE</a>
      </div>

      <div class="box">
        <img src="/static/img/Business.png"alt="">
        <a href="/drought"class="btn">BUSINESS</a>
      </div>
</section>

  <main>
 <!--   <section class="category">
      <h2>Top Categories</h2>
      <div class="container">
        <div class="card">
          <img src="image1.jpg" alt="Category 1">
          <h3>Category 1</h3>
          <p>Description of category 1</p>
        </div>
        <div class="card">
          <img src="image2.jpg" alt="Category 2">
          <h3>Category 2</h3>
          <p>Description of category 2</p>
        </div>
        <div class="card">
          <img src="image3.jpg" alt="Category 3">
          <h3>Category 3</h3>
          <p>Description of category 3</p>
        </div>
      </div>
    </section>

    <section class="featured">
      <h2>Featured Articles</h2>
      <div class="container">
        </div>
    </section>

    </main>
  <footer>
    <div class="container">
      <p>&copy; QuickReads 2024</p>
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>-->

  <script src="/static/js/home.js"></script>
</body>
</html>
